*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;

}
.wrapper{
    margin: 60px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 30%;
    border-radius: 20px;
    height: max-content;

}
h1{
    margin-bottom: 30px;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 60px;
}
.container{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.item{
    width: 100%;
    padding: 10px;
}
button{
    background: none;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    border: none;  
    outline: none;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
button:hover{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    opacity: 0.3;
    cursor: pointer;
}
button:focus{
    outline: none;
    background-color: transparent;}
input{
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
.input_div input{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    width: 250px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 25px;
}